<%= form_with(model: event, local: true, html: {class: 'form-horizontal',role:'form'}) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= t("errors.template.header", model: Event.model_name.human, count: event.errors.count) %></h2>
      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<div class="form-group">
    <%= form.label :ジャンル, class: "col-sm-2 control-label" %>
    <div class='col-sm-10'>
    <%= form.select :genre_id,[['HIPHOP', 1], ['BREAK', 2],['Lock', 3],['Pop', 4],['House', 5],['Krump', 6],['Jazz', 7],['Freestyle', 8],['etc.', 9],], { include_blank: true}, { id: "genre_id" }%>
    </div>
  </div>
  

  <div class="form-group">
    <%= form.label :イベント名, class: "col-sm-2 control-label"%>
    <div class='col-sm-10'>

    <%= form.text_field :name %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :開催地, class: "col-sm-2 control-label" %>
    <div class='col-sm-10'>

    <%= form.text_field :address %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :イベント詳細, class: "col-sm-2 control-label" %>
    <div class='col-sm-10'>

    <%= form.text_area :content %>
    </div>
  </div>


  <div class="form-group">
    <%= form.label :開催日時, class: "col-sm-2 control-label"%>
    <div class='col-sm-10'>
    <%= form.date_select :day %>
    </div>
  </div>

  


  <div class="field">
    <%= form.label :画像, class: "col-sm-2 control-label"%>
    <div class='col-sm-10'>
    <%= form.file_field :image %>
  　</div>
  </div>

<br>

  <div class="actions">

    <div class="form-group">
      <div class='col-sm-offset-2 col-sm-10'>
        <%= form.submit "送信", class: 'btn btn-primary' %>
        <br>
        <br>
        <%= link_to '戻る', events_path, class: 'btn btn-info' %>

      </div>
    </div>

  </div>
<% end %>
