<p id="notice"><%= notice %></p>

<h1>Events</h1>

<%= form_tag('/events', method: 'get') do %>
<%= label_tag(:address_key, '開催地検索:') %>
<%= text_field_tag(:address_key) %>
<%= submit_tag('Search') %> <%= link_to '検索リセット', events_path %>
<% end %>

<br>
<table class='table table-striped table-hover'>
  <thead>
    <tr>
      <th>イベント</th>
      <th>開催場所</th>
      <th>開催日</th>
      <th>ジャンル</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event, class: 'widelink' %></td>
        <td><%= link_to event.address, event, class: 'widelink' %></td>
        <td><%= link_to event.day, event, class: 'widelink' %></td>
        <td><%= link_to event.genre.name, event, class: 'widelink' %></td> %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'イベントを追加する', new_event_path, class: 'btn btn-primary' %>
<%= link_to 'ジャンルを追加する', genres_path, class: 'btn btn-primary' %>