<p id="notice"><%= notice %></p>

<h1>イベント一覧</h1>

<%= form_tag('/events', method: 'get') do %>
<%= label_tag(:address_key, '開催地検索:') %>
<%= text_field_tag(:address_key) %>
<%= submit_tag('検索') %> 
<%= link_to '検索リセット', events_path %>
<% end %>


<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>イベント</th>
      <th>開催場所</th>
      <th>開催日</th>
      <th>ジャンル</th>
      <th>参加したい！</th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name, event, class: 'widelink' %></td>
        <td><%= link_to event.address, event, class: 'widelink' %></td>
        <td><%= link_to event.day, event, class: 'widelink' %></td>
        <td><%= link_to event.genre.name, event, class: 'widelink' %></td>
        <td>
        <% if user_signed_in?%>
          <% if current_user.already_favorited?(event) %>
            <%= link_to '★', event_favorites_path(event), method: :delete %>
            <%= event.favorites.count %>
          <% else %>
            <%= link_to '☆', event_favorites_path(event), method: :post %>
          <%= event.favorites.count %>
          <% end %>
        <% else %>
          <%= "☆ #{event.favorites.count}"%>
        <% end %>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
