<p id="notice"><%= notice %></p>

<h1>Events</h1>

<%= form_tag('/events', method: 'get') do %>
<%= label_tag(:address_key, '開催地検索:') %>
<%= text_field_tag(:address_key) %>
<%= submit_tag('Search') %> <%= link_to 'Clear', events_path %>
<% end %>

<br>
<table>
  <thead>
    <tr>
      <th>イベント</th>
      <th>開催場所</th>
      <th>詳細</th>
      <th>開催日</th>
      <th>ジャンル</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.name %></td>
        <td><%= event.address %></td>
        <td><%= event.content %></td>
        <td><%= event.day %></td>
        <td><%= event.genre.name %></td>
        <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'イベントを追加', new_event_path %>

<%= link_to 'ジャンルを追加', genres_path %>
