<!DOCTYPE html>
<html>
  <head>
    <title>DanceSpot</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark mb-2">
      <div class= "contents">
        <%= link_to image_tag("Dancespot.png", class: "image",width: "100px"), root_path %>
        <%= link_to 'イベント一覧', events_path, class: 'btn btn-primary' %>
        <%= link_to 'イベント投稿', new_event_path, class: 'btn btn-primary' %>
      </div>
      <% if user_signed_in? %>
      <div class= "status">
        <strong><%= current_user.dancename %></strong>
        <%= link_to "ユーザー設定", edit_user_registration_path, class: 'btn btn-link' %> |
        <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-link' %>
      </div>
      <% else %>
      <div class= "status">
        <%= link_to "新規登録", new_user_registration_path, class: 'btn btn-link' %> |
        <%= link_to "ログイン", new_user_session_path, class: 'btn btn-link' %>
      </div>
      <% end %>
      </div>
    </nav>
    <div class='container'>
        <%= yield %>
    </div>
  </body>
</html>
